node_modules/**/*
.nuxt/**/*
.output/**/*
dist/**/*
public/js/**/*
public/lib/**/*
public/languages/**/*
config/featureFlags.js
cypress/cypress.d.ts
pnpm-lock.yaml
README.md

# Onesignal
OneSignalSDK*

# Service worker
sw.*
